## Part 2
Describe the data ingestion process you designed. This description should:

* Specify from where the data originates, addressing legal issues pertaining to access.

* Address any data privacy concerns and how your data pipeline handles them.

* Lay out the schema and justify the decisions (what's the unit corresponding to an observation? What are the storage considerations?)

* Address the applicability of the pipeline to similar data sources you might anticipate using in your future work on the subject (what might those be?).

## Part 3
In a private GitHub repository for your project, structured according to the methodology portion of the course, create a data ingestion pipeline for the result-replication project. The pipeline should:

* Ingest Traffic Stops data from the San Diego Open Data Portal into local file(s) on disk, according to best practices laid out in the methodology HW. All files should have the same schema! The ingestion pipeline should take in the year (between 2014 and 2019) as a parameter. Note that data post-2018 is structured differently according to RIPA (Racial and Identity Profiling Act).

* As a bonus, write your data ingestion code to write the data to a local sqlite database. This will be useful when working with multiple years of data (or multiple geographies).

* Store the data according to your designed schema, taking care to appropriately type the data and implement the best storage design (which columns are needed and appropriate). The data will eventually be stored in a database format both due to the size of the total collection of data, as well as for comparison to the Stanford Open Policing datasets.

* The stored data should be in a form most appropriate for assessment and cleaning (EDA). You may find it useful to compare your dataset with the cleaned SDPD data in the Stanford Open Policing Dataset.

In [146]:
import pandas as pd
import numpy as np
import os

In [32]:
# compare the different formats

In [130]:
p1 = 'DSC180A_traffic_stops/vehicle_stops_2015_datasd_v1.csv'
df1 = pd.read_csv(p1)
df1.head()

,stop_id,stop_cause,service_area,subject_race,subject_sex,subject_age,date_time,date_stop,time_stop,sd_resident,arrested,searched,obtained_consent,contraband_found,property_seized
0,1191287,Moving Violation,430,W,F,NaN,NaN,2015-01-01,NaN,Y,N,N,NaN,NaN,NaN
1,1191295,Moving Violation,520,B,M,NaN,NaN,2015-01-01,NaN,Y,N,N,NaN,NaN,NaN
2,1191275,Moving Violation,430,B,M,NaN,NaN,2015-01-01,NaN,Y,N,N,NaN,NaN,NaN
3,1191308,Moving Violation,520,W,M,NaN,NaN,2015-01-01,NaN,N,N,N,NaN,NaN,NaN
4,1191285,Moving Violation,430,W,F,NaN,NaN,2015-01-01,NaN,Y,N,N,NaN,NaN,NaN

In [7]:
df1.columns

Index(['stop_id', 'stop_cause', 'service_area', 'subject_race', 'subject_sex',
       'subject_age', 'date_time', 'date_stop', 'time_stop', 'sd_resident',
       'arrested', 'searched', 'obtained_consent', 'contraband_found',
       'property_seized'],
      dtype='object')

In [8]:
p2 = 'DSC180A_traffic_stops/ripa_stops_datasd_v1.csv'
df2 = pd.read_csv(p2)
df2.head()

C:\Users\12097\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,stop_id,ori,agency,exp_years,date_stop,time_stop,stopduration,stop_in_response_to_cfs,officer_assignment_key,assignment,...,beat_name,pid,isstudent,perceived_limited_english,perceived_age,perceived_gender,gender_nonconforming,gend,gend_nc,perceived_lgbt
0,2443,CA0371100,SD,10,2018-07-01,00:01:37,30,0,1,"Patrol, traffic enforcement, field operations",...,Pacific Beach 122,1,0,0,25,Male,0,1,NaN,No
1,2444,CA0371100,SD,18,2018-07-01,00:03:34,10,0,1,"Patrol, traffic enforcement, field operations",...,Mission Beach 121,1,0,0,25,Male,0,1,NaN,No
2,2447,CA0371100,SD,1,2018-07-01,00:05:43,15,1,10,Other,...,El Cerrito 822,1,0,0,30,Male,0,1,NaN,No
3,2447,CA0371100,SD,1,2018-07-01,00:05:43,15,1,10,Other,...,El Cerrito 822,2,0,0,30,Female,0,2,NaN,No
4,2448,CA0371100,SD,3,2018-07-01,00:19:06,5,0,1,"Patrol, traffic enforcement, field operations",...,Ocean Beach 614,1,0,0,23,Male,0,1,NaN,No

In [160]:
df2.isnull().sum()

stop_id                           0
ori                               0
agency                            0
exp_years                         0
date_stop                         0
time_stop                         0
stopduration                      0
stop_in_response_to_cfs           0
officer_assignment_key            0
assignment                        0
intersection                 164994
address_block                 16069
land_mark                    179706
address_street                 7502
highway_exit                 178071
isschool                          0
school_name                  179453
address_city                      0
beat                              0
beat_name                         0
pid                               0
isstudent                         0
perceived_limited_english         0
perceived_age                     0
perceived_gender                 69
gender_nonconforming              0
gend                              0
gend_nc                      179606
perceived_lgbt                    0
dtype: int64

In [9]:
df2.columns

Index(['stop_id', 'ori', 'agency', 'exp_years', 'date_stop', 'time_stop',
       'stopduration', 'stop_in_response_to_cfs', 'officer_assignment_key',
       'assignment', 'intersection', 'address_block', 'land_mark',
       'address_street', 'highway_exit', 'isschool', 'school_name',
       'address_city', 'beat', 'beat_name', 'pid', 'isstudent',
       'perceived_limited_english', 'perceived_age', 'perceived_gender',
       'gender_nonconforming', 'gend', 'gend_nc', 'perceived_lgbt'],
      dtype='object')

In [48]:
new_remove = [
    'ori', 'agency','stop_in_response_to_cfs', 'assignment', 
     'land_mark','officer_assignment_key', 'assignment', 'intersection',
       'address_street', 'address_block', 'highway_exit', 'isschool', 'school_name',
       'beat_name', 'perceived_gender', 'gender_nonconforming', 'gend_nc', 'perceived_lgbt'
]

In [15]:
# list of all new attributes collected in the new format
new_att = list(set(list(df2.columns)) - set(list(df1.columns)))
new_att

['stopduration',
 'address_city',
 'perceived_gender',
 'gend_nc',
 'intersection',
 'pid',
 'perceived_limited_english',
 'officer_assignment_key',
 'beat',
 'ori',
 'perceived_age',
 'agency',
 'exp_years',
 'perceived_lgbt',
 'isschool',
 'land_mark',
 'gend',
 'address_block',
 'address_street',
 'isstudent',
 'assignment',
 'stop_in_response_to_cfs',
 'beat_name',
 'gender_nonconforming',
 'school_name',
 'highway_exit']

In [17]:
# these are the only directly overlapping attribute name, need to read description to see which other ones match
old_att = set(list(df2.columns)).intersection(set(list(df1.columns)))
old_att

{'date_stop', 'stop_id', 'time_stop'}

In [30]:
# other attributes that matched but were under different names [old: new]
att_mapper = {'subject_sex': 'gend', 'subject_age': 'perceived_age'}

In [31]:
new_keep = [
    'stop_id', 'exp_years', 'date_stop', 'time_stop',
    'stopduration', 'address_city', 'beat', 'pid',
    'perceived_limited_english', 'perceived_age','gend'    
]
# beat is a neighborhood level distinction

In [131]:
def get_table(year):
    if year < 2018:
        url = 'http://seshat.datasd.org/pd/vehicle_stops_{}_datasd_v1.csv'.format(year)
        df =  pd.read_csv(url)
        
    else: # year >= 2018
        url = 'http://seshat.datasd.org/pd/ripa_stops_datasd_v1.csv'
        df = pd.read_csv(url)
        
    return df

In [191]:
def c_bool(string):
    if (string == 'Y') | (string =='y'):
        return 1
    elif (string == 'N') | (string == 'n'):
        return 0
    else: 
        return np.nan

def make_bool(cols, df):
    for col in cols:
        if col not in list(df.columns):
            continue
        df[col] = df[col].apply(lambda x: c_bool(x))
    return df

def check_outcome(row):    
    to_check = ['arrest_made', 'property_seized']
    for check in to_check:
        if row.loc[check] == 1:
            return check
    return np.nan
    
def create_outcome(df):
    outcome = []
    for i in range(df.shape[0]):
        outcome.append(check_outcome(df.loc[i]))
    df['outcome'] = outcome
    return df

def add_stop_reason(df):
    url = 'http://seshat.datasd.org/pd/ripa_stop_reason_datasd.csv'
    reason = pd.read_csv(url)
    return df.merge(reason, on = 'stop_id').drop_duplicates()


def add_stop_outcome(df):
    url = 'http://seshat.datasd.org/pd/ripa_stop_result_datasd.csv'
    outcome = pd.read_csv(url)
    return df.merge(outcome, on = 'stop_id').drop_duplicates()

def add_data(df):
    df = add_stop_reason(df)
    df = add_stop_outcome(df)    
    return df

In [187]:
def clean_results(year, df):
    if year < 2018:        
        # do something
        mapper = {'stop_id': 'stop_id', 'stop_cause': 'stop_cause', 'service_area': 'service_area', 
                  'subject_race': 'driver_race', 'subject_sex': 'driver_sex', 'subject_age': 'driver_age',
                  'date_stop': 'stop_date',  'time_stop': 'stop_time', 'sd_resident': 'sd_resident',
                  'arrested': 'arrest_made', 'searched': 'search_conducted', 'contraband_found': 'contraband_found',
                  'property_seized': 'property_seized'
                 }
        col_keep = list(mapper.keys())
        change_bool = ['sd_resident', 'search_conducted', 'contraband_found', 'property_seized', 'arrest_made']
        df = df[col_keep]
        df = df.rename(columns=mapper)
        df = make_bool(change_bool, df)
        df = create_outcome(df)
            
    else: # year >= 2018
        # do something else
        mapper = {'stop_id': 'stop_id', 'stop_cause': 'stop_cause', 'service_area': 'service_area', 
                  'subject_race': 'driver_race', 'gend': 'driver_sex', 'subject_age': 'driver_age',
                  'date_stop': 'stop_date',  'time_stop': 'stop_time', 'sd_resident': 'sd_resident',
                  'arrested': 'arrested', 'searched': 'searched', 'contraband_found': 'contraband_found',
                  'property_seized': 'property_seized', 'exp_years': 'exp_years', 'stopduration': 'stop_duration',
                  'address_city': 'address_city', 'beat': 'beat', 'pid': 'driver_id', 
                  'perceived_limited_english': 'perceived_limited_english'
                 }
        col_keep = list(mapper.keys())
        df = df.rename(columns=mapper)
        df = add_data(df)
    
    return df

In [173]:
year1 = 2015
outpath = 'data'
df1 = get_table(year1)
df1 = clean_results(year1, df1)

In [177]:
df1.columns

Index(['stop_id', 'stop_cause', 'service_area', 'driver_race', 'driver_sex',
       'driver_age', 'stop_date', 'stop_time', 'sd_resident', 'arrest_made',
       'search_conducted', 'contraband_found', 'property_seized', 'outcome'],
      dtype='object')

In [192]:
year2 = 2018
df2 = get_table(year2)
df2 = clean_results(year2, df2)

C:\Users\12097\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until

In [193]:
df2.columns

Index(['stop_id', 'ori', 'agency', 'exp_years', 'stop_date', 'stop_time',
       'stop_duration', 'stop_in_response_to_cfs', 'officer_assignment_key',
       'assignment', 'intersection', 'address_block', 'land_mark',
       'address_street', 'highway_exit', 'isschool', 'school_name',
       'address_city', 'beat', 'beat_name', 'driver_id', 'isstudent',
       'perceived_limited_english', 'perceived_age', 'perceived_gender',
       'gender_nonconforming', 'driver_sex', 'gend_nc', 'perceived_lgbt',
       'pid_x', 'reason_for_stop', 'reason_for_stopcode',
       'reason_for_stop_code_text', 'reason_for_stop_detail',
       'reason_for_stop_explanation', 'pid_y', 'resultkey', 'result', 'code',
       'resulttext'],
      dtype='object')

In [194]:
df2.head()

,stop_id,ori,agency,exp_years,stop_date,stop_time,stop_duration,stop_in_response_to_cfs,officer_assignment_key,assignment,...,reason_for_stop,reason_for_stopcode,reason_for_stop_code_text,reason_for_stop_detail,reason_for_stop_explanation,pid_y,resultkey,result,code,resulttext
0,2443,CA0371100,SD,10,2018-07-01,00:01:37,30,0,1,"Patrol, traffic enforcement, field operations",...,Reasonable Suspicion,64005,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,Officer witnessed commission of a crime,"staggering, unable to safely walk",1,6,Custodial Arrest without warrant,64005.0,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005
1,2444,CA0371100,SD,18,2018-07-01,00:03:34,10,0,1,"Patrol, traffic enforcement, field operations",...,Traffic Violation,54106,22350 VC - UNSAFE SPEED:PREVAIL COND (I) 54106,Moving Violation,Speeding,1,2,Warning (verbal or written),54395.0,22349(B) VC - EXC 55MPH SPEED:2 LANE RD (I) 54395
2,2447,CA0371100,SD,1,2018-07-01,00:05:43,15,1,10,Other,...,Reasonable Suspicion,53072,415(1) PC - FIGHT IN PUBLIC PLACE (M) 53072,Matched suspect description,Both parties involved in argument.,1,1,No Action,NaN,NaN
3,2447,CA0371100,SD,1,2018-07-01,00:05:43,15,1,10,Other,...,Reasonable Suspicion,53072,415(1) PC - FIGHT IN PUBLIC PLACE (M) 53072,Matched suspect description,Both parties involved in argument.,2,1,No Action,NaN,NaN
4,2447,CA0371100,SD,1,2018-07-01,00:05:43,15,1,10,Other,...,Reasonable Suspicion,53072,415(1) PC - FIGHT IN PUBLIC PLACE (M) 53072,Other Reasonable Suspicion of a crime,Both parties engaged in argument.,1,1,No Action,NaN,NaN

In [189]:
int("2019")

2019

In [157]:
# The ingestion pipeline should take in the year (between 2014 and 2019) as a parameter
def load_data(year, outpath):
    if not os.path.exists(outpath):
        os.mkdir(outpath)

    # save df as csv
    path = '{}/sdvehicle_stops_{}.csv'.format(outpath, year)
    
    results = get_table(year)
    
    # do some cleaning
    clean_ = clean_results(year, results)    
    clean_.to_csv(path)

In [158]:
load_data(2016, 'data')